.rainbow-text {
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  -webkit-background-clip: text;
  background-size: 800% 800%;
  -webkit-text-fill-color: transparent;
  animation: rainbow 8s ease infinite;
}

.white-text {
  color: white;
}

.qrCode {
  background-color: white;
  text-align: center;
  width: 256px;
  margin: 0 auto;
}

body {
  background-color: #181818;
  font-family: 'Comic Sans MS';
}
	
@keyframes rainbow { 
    0%{background-position:0% 50%}
    50%{background-position:100% 25%}
    100%{background-position:0% 50%}
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #5050d6;
}

.button {
  background-color: #5050d6;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}